[user]
	name = Robert Bollons
	email = rob@robbollons.com
[alias]
	lg = log --graph --oneline --decorate
[merge]
	tool = vimdiff
    conflictstyle = diff3
    prompt = false
[color]
	ui = true
[mergetool]
	keepBackup = false
	trustExitCode = false
[grep]
	lineNumber = true
