[user]
	name = Robert Bollons
	email = rob@robbollons.com
[alias]
	lg = log --graph --oneline --decorate
    ctags = !.git/hooks/ctags
[merge]
	tool = vimdiff
    conflictstyle = diff3
    prompt = false
[color]
	ui = true
[mergetool]
	keepBackup = false
	trustExitCode = false
[credential]
	helper = !'C:\\Users\\rbollons\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[grep]
	lineNumber = true
[init]
	templatedir = ~/.git_template
